.vscode/**
.vscode-test/**
src/**
tsconfig.json
node_modules/**
out/test/**
.git/**
.github/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
